<!DOCTYPE html>
<html>
<head>
	<title>Gabe Ortega | Game Developer</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Gabe Ortega | iOS App Developer">
  <meta name="keywords" content="iOS, developer, new york, nyc, iphone, apps, startup"> 

	<link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

  <link href="static/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="static/css/compiled/bootstrap-overrides.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="static/css/compiled/theme.css" />
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Oleo+Script|Sansita+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/css/compiled/sign-in.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="static/css/lib/animate.css" media="screen, projection" />
  <link rel="stylesheet" href="static/css/compiled/contact.css" type="text/css" media="screen" />

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style type="text/css">
  body {
    background-image:url('static/img/bgBlue.png');
    background-size:100%;
    padding-top:0; }
  #contact { margin-top:0; }
  .row.g { background-color:#f9f9f9; }
  .navbar.navbar-inverse.navbar-static-top {
    border-bottom:1px solid #444;
    margin-bottom:0px;
    position:fixed;
    width:100%;
  }
  </style>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><strong>GABRIEL ORTEGA</strong></a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#projects">PROJECTS</a></li>
          <li><a href="#education">EDUCATION</a></li>
          <li><a href="#experience">EXPERIENCE</a></li>
          <li><a href="/resume">RÉSUMÉ</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- CONTENT -->
  <div style="padding-top:100px;background:rgba(0, 0, 0, 0.17);">        
    <!-- HOME -->
    <div class="container" id="home">
      <div class="row login" style="margin-top:20px;margin-bottom:-90px;">
        <div class="col-md-12" style="color:#fff;text-align:center;">
      	  <img style="width:200px;border-radius:50%;border:2px solid #fff" src="static/img/profile.jpg" />
        </div>
      </div>
    </div>

    <!-- PROJECTS -->
    <div class="row g" id="projects" style="padding-top:64px">
      <br><br>
      <div class="col-md-12">
        <div style="padding:0px 64px;text-align:center">
          <h1 style="margin-top:0px">Projects</h1>
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <div class="card-header" style="background:url('static/img/bgXspark.png')">
                    <h4 style="margin-top:0px">X-Spark</h4>
                    <img style="width:72px;border-radius:36px;border:2px solid #ddd" src="static/img/logoXspark.png" /><br /><br />
                  </div>
                  <div style="text-align:left;margin-left:4px;padding:32px">
                  X-Spark is a 4 player cooperative shooter, where players fend off an alien invasion. The game features a mechanic in which enemies are only vulnerable to a specific player at once. Players must coordinate their attacks in order to defeat alien mother ship.
                  <br /><br />
                  <a href="/projects/x-spark" class="btn proj-btn">View</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <div class="card-header" style="background:url('static/img/bgColors.png')">
                    <h4 style="margin-top:0px">Colors</h4>
                    <img style="width:72px;border-radius:36px;border:2px solid #ddd" src="static/img/logoColors.png" /><br /><br />
                  </div>
                  <div style="text-align:left;margin-left:4px;padding:32px">
                  Colors is a casual puzzle game for mobile. Players must solve different puzzles by dragging and combining colored tiles to gain points.<br /><br />My role in this project was lead designer / programmer. In the Unity project, I built the color mixing mechanic. I also rebuilt the application in Swift for iOS devices.
                  <br /><br />
                  <a href="/projects/colors" class="btn proj-btn">View</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <div class="card-header" style="background:url('static/img/smashcii.png')">
                    <h4 style="margin-top:0px;color:#252528;">Smashcii</h4>
                    <img style="width:72px;border-radius:36px;border:2px solid #ddd" src="static/img/smashcii.png" /><br /><br />
                  </div>
                  <div style="text-align:left;margin-left:4px;padding:32px">
                  Smashcii is a fast paced rogue-like shooter. In each level, the player must survive waves of enemies, to improve his or her score. Each level provides different pathways to avoid and outwit pursuing enemies.
                  <br /><br />
                  <a href="/projects/smashcii" class="btn proj-btn">View</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <div class="card-header" style="background:url('static/img/collisiondetection.png')">
                    <h4 style="margin-top:0px;color:#252528;">Collision Detection</h4>
                    <img style="width:72px;border-radius:36px;border:2px solid #ddd" src="static/img/collisiondetection.png" /><br /><br />
                  </div>
                  <div style="text-align:left;margin-left:4px;padding:32px">
                  This is a project I built to simulate physical collisions in 3D between different types of geometric primitives. The simulation incorporates linear and angular momentum in order to calculate collision response between spheres and cubes.
                  <br /><br />
                  <a href="/projects/collisiondetection" class="btn proj-btn">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g">
      <div class="col-md-12">
        <div style="padding:0px 64px;text-align:center">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <div class="card-header" style="background:url('static/img/platformer/platformer.png');background-position:-80px">
                  <h4 style="margin-top:0px;color:white;">Platformer</h4>
                  <img style="width:72px;border-radius:36px;border:2px solid #ddd" src="static/img/platformer/platformer.png" /><br /><br />
                </div>
                <div style="text-align:left;margin-left:4px;padding:32px">
                This project was built as a proof of concept for a platformer where you control the platforms instead of the character. It utilizes integration techniques to simulate velocity and acceleration due to gravity, as well as collision detection and response for a sphere and line segment.
                <br /><br />
                <a href="/projects/platformer" class="btn proj-btn">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ABOUT -->
    <div class="row" id="about" style="min-height:450px;background:#f9f9f9;padding:64px;padding-top:20px;padding-bottom:20px">
      <div class="col-sm-12 left_box">
        
        <div class="row feature" style="background:white;padding:44px 24px;border:1px solid #ededed;margin-top:60px">
          
          <div class="col-sm-2">
            <img style="width:100px" src="static/img/iconPeople.png" class="img-responsive" />
          </div>
          <div class="col-sm-4 info" style="font-size:16px;">
            <h3 style="margin-top:0px">Meet Gabe</h3>
            I began developing mobile applications 4 years ago as a hobby and eventually made it a career. Currently, I’m working as an iOS Engineer at FieldLens, while pursuing a Master’s Degree in Game Development at Rochester Institute of Technology.
            <br><br>
            Along with playing games, I enjoy learning how to build them. My main areas of interest are graphics, physics simulation and game engine architecture.
          </div>
          
          <div class="col-sm-2">
            <img style="width:100px" src="static/img/iconData.png" class="img-responsive" />
          </div>
          <div class="col-sm-4 info" style="font-size:16px">
            <h3>Skills</h3>
            <label for="ios-prog">iOS Development</label>
            <div class="progress" id="ios-prog">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
            <label for="c-prog">C++</label>
            <div class="progress" id="c-prog">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
            </div>
            <label for="s-prog">Objective-C</label>
            <div class="progress" id="s-prog">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
            <label for="s-prog">OpenGL</label>
            <div class="progress" id="s-prog">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <!-- EDUCATION -->
    <div class="row g" id="education" style="padding:0px 64px;text-align:center;">
      <br><br><br>
      <h1>Education</h1>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <br>
            <img src="static/img/rit.gif" width="230">
            <br><hr>
            <h3>RIT</h3>
            <em>Masters of Game Design and Development</em>
            <p>2014 - 2016</p><br>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <br>
            <img src="static/img/hof.svg">
            <br><hr>
            <h3>Hofstra</h3>
            <em>Bachelors of Computer Science</em>
            <p>Alpha Tau Omega, Men's Rugby Club &middot; 2001 - 2005</p><br>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <br>
            <img src="static/img/queens.png">
            <br><hr>
            <h3>Queens College</h3>
            <em>Objective Oriented Programming in C++</em>
            <p>Non-Matriculated Grade: A &middot; December 2011</p><br>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <br><br><br>
            <img src="static/img/pace.png" height="90">
            <br><br><br>
            <hr>
            <h3>Pace University</h3>
            <em>iOS Development Course</em>
            <p>Developed app for submission to the App Store &middot; May 2012</p><br>
          </div>
        </div>
      </div>
    </div>

    <!-- EXPERIENCE -->
    <div class="row g" id="experience" style="padding:0px 64px;text-align:center;">
      <br><br><br>
      <h1>Experience</h1>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <br><br>
            <img src="static/img/fl.jpg" width="150">
            <br><br><hr>
            <h3>Field Lens</h3>
            <em>Lead iOS Engineer</em>
            <p>November 2012 - Present</p><br>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <br><br><br>
            <img src="static/img/ph.jpg" width="100">
            <br><br><br>
            <hr>
            <h3>ProHEALTH Corp.</h3>
            <em>System Administrator</em>
            <p>October 2011 - October 2012</p><br>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <br><br>
            <img src="static/img/bn.jpg" width="250">
            <br><br><hr>
            <h3>Barnes &amp; Noble</h3>
            <em>Support Technician</em>
            <p>March 2009 - October 2011</p><br>
          </div>
        </div>
      </div>
    </div>

    <!-- CONTACT -->
    <div id="contact">
      <div class="map">
        <div class="container">
          <div class="box_wrapp">
            <div class="box_cont">
              <div class="head">
                <h6>Contact</h6>
              </div>
              <ul class="street">
                <li>New York City, NY. United States,</li>
                <li>10001.</li>
                <li class="icon icontop">
                  <span class="contacticos ico1"></span>
                  <span class="text">917 642 5729</span>
                </li>
                <li class="icon">
                  <span class="contacticos ico2"></span>
                  <a class="text" href="mailto:gabriel.ortega56@gmail.com">gabriel.ortega56@gmail.com</a>
                </li>
                <br>
                <li class="icon">
                  <a href="/resume">Résumé</a>
                </li>
              </ul>
              <div class="head headbottom">
                <h6>Work with Gabe</h6>
              </div>
              <p>He's a motivated and determined Game Developer. He builds cool games like X-Spark and Colors!</p>
            </div>
          </div>
        </div>
        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/?ie=UTF8&amp;ll=40.7327,-74.0359&amp;spn=0.045157,0.15398&amp;t=m&amp;z=13&amp;output=embed"></iframe>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer id="footer" style="margin-top:0px">
    <div class="container">
      <div class="row info">
        <div class="col-sm-6 residence">
          <ul>
            <li>New York City, NY 10001. United States.</li>
          </ul>
        </div>
        <div class="col-sm-6 touch">
          <ul>
            <li><strong>P.</strong> 917 642 5729</li>
            <li><strong>E.</strong><a href="mailto:gabriel.ortega56@gmail.com">gabriel.ortega56@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <div class="row credits">
        <div class="col-md-12">
          <div class="row social">
            <div class="col-md-12">
              <a target="_blank" href="https://www.facebook.com/profile.php?id=18903751&fref=ts" class="facebook">
                <span class="socialicons ico1"></span>
                <span class="socialicons_h ico1h"></span>
              </a>
              <a target="_blank" href="https://twitter.com/thefullstack" class="twitter">
                <span class="socialicons ico2"></span>
                <span class="socialicons_h ico2h"></span>
              </a>
              <a target="_blank" href="https://medium.com/@radiusiphone" class="behance">
                <span class="socialicons ico4"></span>
                <span class="socialicons_h ico4h"></span>
              </a>
            </div>
          </div>
          <div class="row copyright">
            <div class="col-md-12">&copy; 2014 The Grid Media, LLC. All rights reserved.</div>
          </div>
        </div>            
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/theme.js"></script>
  <script src="static/js/jquery.isotope.min.js"></script>
  <script src="static/js/pi.init.tab.js"></script>
  <script src="https://malsup.github.com/jquery.form.js"></script>
</body>
</html>